$colors: (
  primary: #016cc7,
  primary-variant: #016cc71a,
  light-gray: #bdbdbd,
  dark-liver: #515151,
  slightly-gray: #84817f,
  dim-gray: #616161,
  rich-black: #212121,
  tea-green: #c4daa0,
  camouflage-green: #638035,
  cornflower-blue: #6173f3,
  pastel-blue: #d5d8ed,
  peach-orange: #f2c693,
  pumpkin-orange: #fc9b29,
  black-25: #00000040,
  red-rose: #ff5252,
  dark-orange: #fb8c00,
  slight-blue: #f3f3f6,
  slight-dark-blue: #e5e7eb,
  slight-light-gray: #eeeeee,
  sonic-silver: #757575,
  neutral-gray: #a8a8a8,
  spanish-gray: #949494,
  black-45: #00000066,
  background-loading: #00000052,
  light-silver: #d9d9d9,
  very-light-gray: #f6f6f6,
  granite-gray: #666666,
  crimson-red: #b00020,
);
